<div class="filu-container">

  <h1>{{main.title}}</h1>
  <div>Upload jouw file en FiLu geeft een link terug die je kan gebruiken om in Stadsplan een foto te koppelen aan een <em>point of interest</em>.</div>

  <div class="clear">
  	<div class="span-full">

<!-- //////////////////////////////////////////////////////////////// Resulting link -->
      <!-- <div class="spacer-t">
        <h2 class="header-large">Jouw link</h2>
        <div class="clear">
          <div class="span-4-1 tablet--span-2-1">
            <img ng-src="https://assets.antwerpen.be/srv/assets/api/image/0f5cb89a-6272-4329-95ce-c9f3b8b81fd7/stromae-optimized.jpg" />
          </div>
          <div class="span-8-5 tablet--span-10-3">
            <div class="filu-result">
              <span class="filu-link">https://assets.antwerpen.be/srv/assets/api/image/0f5cb89a-6272-4329-95ce-c9f3b8b81fd7/stromae-optimized.jpg</span>
              <button class="button filu-button" ngclipboard data-clipboard-text="https://assets.antwerpen.be/srv/assets/api/image/0f5cb89a-6272-4329-95ce-c9f3b8b81fd7/stromae-optimized.jpg" title="Kopieer link van afbeelding naar het klembord"><span class="fa fa-copy"></span></button>
              <span class="filu-copy color-gray">Gekopieerd</span>
            </div>
            <p><a href="https://assets.antwerpen.be/srv/assets/api/image/0f5cb89a-6272-4329-95ce-c9f3b8b81fd7/stromae-optimized.jpg" title="Open afbeelding in een nieuw venster" target="_blank" rel="external">Open afbeelding</a></p>
          </div>
        </div>
      </div> -->
      <div class="spacer-t" ng-if="main.result.success">
        <h2 class="header-large">Jouw link</h2>
        <div class="clear">
          <div class="span-4-1 tablet--span-2-1">
            <img ng-src="{{main.result.data}}" />
          </div>
          <div class="span-8-5 tablet--span-10-3">
            <div class="filu-result">
              <span class="filu-link">{{main.result.data}}</span>
              <button class="button filu-button" ngclipboard data-clipboard-text="{{main.result.data}}" title="Kopieer link van afbeelding naar het klembord"><span class="fa fa-copy"></span></button>
              <span class="filu-copy color-gray">Gekopieerd</span>
            </div>
            <p><a href="{{main.result.data}}" title="Open afbeelding in een nieuw venster" target="_blank" rel="external">Open afbeelding</a></p>
          </div>
        </div>
      </div>
<!-- //////////////////////////////////////////////////////////////// Upload field -->
  		<div class="spacer-t" ng-if="!main.uploadIsBusy">
        <h2 class="header-large">Upload<span ng-if="main.result.success"> nog</span> een afbeelding</h2>
        <div
          class="filu-upload"
          type="file"
          ngf-select="main.uploadFiles($file, $invalidFiles)"
          ngf-drop="main.uploadFiles($file, $invalidFiles)"
          ngf-max-height="1000"
          ngf-max-size="10MB"
          accept="image/*">
          <span class="clear"><strong>Sleep hier een bestand</strong> of klik om te <span class="color-blue">bladeren</span></span>
          <span class="clear color-gray">Maximum bestandsgrootte: 10MB</span>
        </div>
      </div>
<!-- //////////////////////////////////////////////////////////////// Show in case of error -->
      <div class="spacer-t" ng-if="errorMsg">
        <h2 class="header-large">Er is iets fout gelopen</h2>
        <div class="box-highlight-danger">
          {{errorMsg}}
        </div>
      </div>
<!-- //////////////////////////////////////////////////////////////// Show while loading -->
      <div class="spacer-t spacer-b" ng-if="main.uploadIsBusy">
        <h2 class="header-large">Aan het laden…</h2>
        <div class="text-center">
          <div class="filu-spinner">
            <div class="cube">
              <figure class="front"></figure>
              <figure class="back"></figure>
              <figure class="right"></figure>
              <figure class="left"></figure>
              <figure class="top"></figure>
              <figure class="bottom"></figure>
            </div>
          </div>
        </div>
      </div>







<!-- 		<br><br>
		File:
		<div>
			{{main.f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
			<span class="progress" ng-show="main.f.progress >= 0">
				<div style="width:{{main.f.progress}}%" ng-bind="main.f.progress + '%'"></div>
			</span>
		</div>
		{{errorMsg}}
  		<div ng-if="main.result.success">
  			<h2>Your image</h2>
  			<p>
  				<img src="{{main.result.data}}" />
  			</p>
  			<h2>Your URL</h2>
			<p>
				<a href="{{main.result.data}}" target="_blank" rel="external">{{main.result.data}}</a>
			</p>
  		</div>
  	</div> -->
  </div>

</div>
